.box{
    margin: 30px;
    padding: 20px;
    border: 3px solid rgb(255, 0, 85);
    background-color:rgb(245, 147, 207);
    
}
.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(245, 147, 207);
    position: static;
    margin-top: 20;
}
h1{
    background-color: rgb(126, 3, 24);
    position: fixed;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(245, 147, 207);
    position: relative;
    top: 20px;
    left: 20px;
}
.container{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 0, 64);
    position: relative;
}
.box4{
    width: 100px;
    height: 100px;
    background-color: azure;
    position: absolute;
    bottom: 10px;
    right: 10px;

}